<div class="x_title">
  <h2>New Team Activity</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="half-div">
    Form
    <%= form_for [@team, TeamActivity.new], remote: true do |t|%>
      <div class="form-group">
        <label>Activities</label> |
        <%= t.collection_select :activity_id, @activities, :id,:name, include_blank: false, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= t.text_field :start_date, size: '80', class:"form-control", placeholder:"Start date" %>
      </div>
      <div class="form-group">
        <%= t.text_field :end_date, size: '80', class:"form-control", placeholder:"End date" %>
      </div>
      <!-- <div class="form-group">
        <label>Team Leader</label> | <%# t.collection_select :team_leader_id, @sps, :id, :user[:name], include_blank: false, class:"form-control" %>
      </div> -->
      <div class="form-group">
        <%= t.submit 'Submit' , class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
