<div id="team-cont">
  <div class="w700 row hcenter">
    <div>
      <div class="x_panel tile">
  			<div class="x_title">
          <%= link_to [@team.manager, @team] do %>
  				<h2><%= @team.name %></h2>
          <% end %>
  				<div class="clearfix"></div>
  			</div>
  			<div class="x_content">
          <div id="tm_mem_list" class="col-md-8">
            <% if @team.team_assignments.size < 1 %>
              <div id="no-sp" class="center-text">
                <%= image_tag 'no_truck.png' %>
              </div>
              <div class="center-text"><h1>This team is empty</h1></div>
            <% else %>
                <% @sps.each do |sp|%>
                    <%= render 'tm_list_item', sp: sp %>
                <% end %>
            <% end %>
          </div>
          <div class="col-md-4">
            <h3><small>Assigned farms</small></h3>
            <% if @farms && @farms.size > 0 %>
              <% @farms.each do |f| %>
                <div class="list-item">
                  <%= f.name %>
                </div>
              <% end %>
            <% else %>
              <h3>No farms assigned to this team</h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
