<div class="card w700 hcenter row">
  <div id="new_fm_map" class="h500 col-md-7"></div>
  <div class="col-md-5">
    <h1>New Farm</h1>
    <%= form_for [@manager,@farm], remote: true do |f|%>
    <div class="form-group">
      <%= f.text_field :name, size: '80', class:"form-control", placeholder:"Name", required:true %>
    </div>
    <div class="form-group">
      <%= f.number_field :area, size: '80', class:"form-control", :step => 'any', placeholder:"Area (Acres)", required:true %>
    </div>
    <div class="form-group">
      Region: <br>
      <%= f.collection_select :region_id, @regions, :id,:name, include_blank: false, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.number_field :lon, size: '80', class:"form-control", :step => 'any',id:"new_fm_lat", placeholder:"latitutde", required:true %>
      <%= f.number_field :lat, size: '80', class:"form-control", :step => 'any',id:"new_fm_lon", placeholder:"longitude", required:true %>
    </div>

    <div class="form-group">
      <%= f.submit 'Submit' , class:"btn btn-primary" %>
    </div>
    <h3>Note: Let your farm be close to your region mark</h3>
    <% end %>
  </div>
  <div id="err-msg"></div>
</div>
<%= render 'farms/maps/map2' %>
