<div id="farm-name-holder" class="row">
	<div class="col-sm-9"><%= farm.name %></div>
	<div class="col-sm-3"><%= farm.area %> acres</div>
</div>
<hr>
<div id="team-cont row">
	<div id="team-holder" class="col-md-8">
		<div id="team-list" class="row">
				<% if teams.size > 0 %>
					<% teams.each do |t| %>
						<%= link_to farm_team_path(t.farm, t), remote: true do %>
							<div class="x_panel tile">
								<div class="x_title">
									<h3><%= t.name %></h3>
									<div class="clearfix"></div>
								</div>
								<div class="x_content half-div">
									<%= image_tag 'user.png', class: 'circle micro-img' %> | <%= t.team_assignments.size.to_s %>
								</div>
							</div>
						<% end %>
					<% end %>
				<% else %>
					<span id="disclame">No teams assigned to this farm<span>
				<% end %>
		</div>
		<%= link_to "Add team", new_farm_team_path(farm), class: 'btn btn-primary', :remote => true %>
	</div>
	<div class="col-md-4">
		<div class="x_panel tile">
			<div class="x_title">
				<h2>Workers in <%= farm.region.name %> region</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content half-div">
				<div class="row">
					<% sps.each do |s| %>
					<div class="col-xs-6">
						<div>
							<%= image_tag 'user.png', class:'small-img' %>
						</div>
						<div>
							<%= s.user.username %>
						</div>
					</div>
					<% end %>

				</div>
			</div>
		</div>
	</div>


</div>
