<div class="row">
  <div class="col-lg-3 col-md-4">
    <div class="portlet hcenter">
      <div class="portlet-heading bg-purple">
        <h3 class="portlet-title">Farms</h3>
        <div class="portlet-widgets">
          <%= link_to new_manager_farm_path(@manager), remote:true do %>
            <div class="circle white-icon-holder">
              <i class="fa fa-plus"></i>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="pad15">
        <% @farms.each do |f| %>
          <%= link_to  organization_farm_path(f.region.organization.id, f), remote:true do %>
            <div class="list-item">
              <%= f.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br><hr><br>
    <div class="portlet hcenter">
      <div class="portlet-heading bg-custom">
        <h3 class="portlet-title">Farmers</h3>
        <div class="portlet-widgets">
          <div class="circle white-icon-holder">
            <i class="fa fa-plus"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="pad15">
        <% if @farmers && @farmers.size > 0 %>
          <% @farmers.each do |f| %>
            <%= link_to  organization_farm_path(@organization.id, f), remote:true do %>
              <div class="list-item">
                <%= f.fl_name %>
              </div>
              <% end %>
          <% end %>
        <% else %>
          <h3>There are no farmers in this organization</h3>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-8">
    <div id="main_append"></div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2NxLOf_zTbaq0pyoeRLfBFTX4Q55KWuo&q=ghana"></script>
