<div id="main-cont">
	<div class="row no-pad">
		<div class="col-md-3 grey-back">
      <div class="x_panel tile">
        <div class="x_title">
          <h2>Farms</h2>
					<div class="clearfix"></div>
        </div>
        <div class="x_content">
					<% @farms.each do |f| %>
						<%= link_to f, remote: true do %>
							<div class="list-item"><%= f.name %></div>
						<% end %>
					<% end %>
				<%= link_to "Add farm", new_farm_path, class: 'btn btn-primary', :remote => true %>

        </div>
      </div>
		</div>
		<div class="col-md-9 no-pad">
			<div id="map-view">
				<div id="map"></div>
		    <script>
		      var map;
					var infowindow;
					var markers = [];
		      function initMap() {
						infowindow = new google.maps.InfoWindow();
		        map = new google.maps.Map(document.getElementById('map'), {
		          center: {lat: -34.397, lng: 150.644},
		          zoom: 8
		        });

						<% @farms.each do |f| %>
							createMarker("<%= f.name %>", <%= f.lat %>, <%= f.lon %>);
						<% end %>
		      }

					function createMarker(name, lat, lon) {
						var point = new google.maps.LatLng(lat, lon);
						var marker = new google.maps.Marker({
							map: map,
							position: point
						});
						var content = '<strong>' + name + '</strong><br>' + lat +", "+ lon + '<br>';
						google.maps.event.addListener(marker, 'click', function() {
							infowindow.setContent(content);
							infowindow.open(map, marker);
						});
						markers[lat+lon] = marker;
					}

					function updateMarker(lat, lon){
				    var point = new google.maps.LatLng(lat, lon);
				    map.setCenter(point);
				    google.maps.event.trigger(markers[lat+lon], 'click');
					}

		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2NxLOf_zTbaq0pyoeRLfBFTX4Q55KWuo&callback=initMap" async defer></script>
				<!-- <iframe
				  width="100%"
				  height="450"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC2NxLOf_zTbaq0pyoeRLfBFTX4Q55KWuo&q=ghana" allowfullscreen>
				</iframe> -->
			</div>
			<div id="form-cont">
			</div>
		</div>
	</div>
</div>
