<%= @farm.name %>
<div class="row">
  <div class="col-md-3">
    <div class="card w200">
      Stat 1
    </div>
  </div>
  <div class="col-md-3">
    <div class="card w200">
      Stat 2
    </div>
  </div>
  <div class="col-md-3">
    <div class="card w200">
      Stat 3
    </div>
  </div>
  <div class="col-md-3">
    <div class="card w200">
      Stat 4
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div><h3>Labourers</h3></div>
    <div>Labour list</div>
    <% if @assps.size > 0 %>
      <% @assps.each do |ss| %>
      <div class="list-item">
        <%= ss.name %> | <%= ss.phone %>
      </div>
      <% end %>
    <% else %>
      <h2>This farms has no labourer assigned to it</h2>
    <% end %>
  </div>
  <div class="col-md-4">
    Farmer details
    <% if @farmer %>
      <h2><%= @farmer.name %></h2>
      <h2><%= @farmer.phone %></h2>
      <h2><%= @farmer.gender %></h2>
    <% else %>
      <h2>This farm has no farmer</h2>
      <%= link_to 'Add', '#', class:'btn btn-primary', remote: true %>
    <% end %>
  </div>
</div>
