<div><h2>Farm: <%= @farm.name %> | <%= @farm.area %> acres</div>
<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="x_panel tile">
      <div class="x_title">
        <h3>Farmer details</h3>
        <div class="clearfix"></div>
      </div>
      <div class="x_content half-div">
        <% if @farm.farmer %>
          <div class="row">
            <div class="col-md-6 text-center">
              <% #image_tag @farm.farmer.image.url(:medium), class:'w200 circle' %>
              <%= image_tag 'user.png', class:'w200 w90p' %>
            </div>
            <div class="col-md-6">
              <h3><%= @farm.farmer.fname %></h3>
              <h3><%= @farm.farmer.lname %></h3>
              <h3><%= @farm.farmer.phone %></h3>
              <h3><%= @farm.farmer.gender %></h3>
            </div>
          </div>
        <% else %>
          <div><% image_tag 'farmer.png' %></div>
          <h2>This farm has no farmer</h2>
          <%= link_to 'Add',  farm_assign_farmer_path(@farm), class:'btn btn-primary', remote: true %>
        <% end %>
      </div>
    </div>
    <!-- Avl Teams -->
    <div class="x_panel tile">
      <div class="x_title">
        <h2><small>Available teams</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <%= link_to new_organization_region_path(@organization), remote: true do %>
              <i class="fa fa-plus"></i>
            <% end %>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content half-div">
        <% if @teams.size > 0 %>
          <% @teams.each do |t| %>
            <%= link_to [@manager, t], remote: true do %>
              <div class="list-item">
                <%= t.name %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          This farm has no team assigned to it
        <% end %>
      </div>
    </div>
    <!-- End Avl Teams -->
    <!-- Ass.Teams -->
    <!-- <div class="x_panel tile">
      <div class="x_title">
        <h2><small>Assigned teams</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <%= link_to manager_farm_assign_teams_path(@manager, @farm), remote: true do %>
              <i class="fa fa-plus"></i>
            <% end %>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content half-div">
        <% if @teams.size > 0 %>
          <% @teams.each do |t| %>
            <div class="list-item">
              <%= t.name %>
            </div>
          <% end %>
        <% else %>
          This farm has no team assigned to it
        <% end %>
      </div>
    </div> -->
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="portlet hcenter">
      <div class="portlet-heading bg-purple">
        <h3 class="portlet-title">Activities scheduled</h3>
        <div class="portlet-widgets">
          <%= link_to new_region_team_activity_path(@farm.region), remote:true do %>
            <div class="circle white-icon-holder">
              <i class="fa fa-plus"></i>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="pad15">
        <% if @team_act && @team_act.size > 0 %>
          <table class="table">
            <thead>
              <tr>
                <th>Activity</th>
                <th>Team</th>
                <th>Team size</th>
              </tr>
            </thead>
            <% @team_act.each do |t| %>
                <tr class="list-item">
                  <td><%= link_to t.activity.name, t %></td>
                  <td><%= link_to t.team.name, [@manager, t.team], remote: true %></td>
                  <td><%= t.team.size %></td>
                </tr>
              <% end %>
          </table>
        <% else %>
          This farm has no team assigned to it
        <% end %>
      </div>
    </div>
    <div id="farm-map" class="h500">

    </div>
  </div>
</div>
<script type="text/javascript">
var map;
var infowindow;
var markers = [];
function initMap() {
  if (Boolean($("#farm-map"))){
    infowindow = new google.maps.InfoWindow();
    map = new google.maps.Map(document.getElementById('farm-map'), {
      center: {lat: <%= @farm.lat %>, lng: <%= @farm.lon %>},
      zoom: 12
    });

    createMarker("<%= @farm.name %>", <%= @farm.lat %>, <%= @farm.lon %>);
  }
}

function createMarker(name, lat, lon) {
  var point = new google.maps.LatLng(lat, lon);
  var marker = new google.maps.Marker({
    map: map,
    position: point
  });
  var content = '<strong>' + name + '</strong><br>' + lat +", "+ lon + '<br>';
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(content);
    infowindow.open(map, marker);
  });
}
initMap();
</script>
