<p>Hi <%= @user.fname %> <%= @user.lname %>,</p>

<p>
You requested a password reset.
Click on the link below to reset your password:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email, reset: true) %>
                                                    <br>
or
<%= link_to edit_account_activation_url(@user.activation_token,
                                                    email: @user.email, reset: true) do %>
<%= edit_account_activation_url(@user.activation_token,
                                                    email: @user.email, reset: true) %>
<% end %>
