Labourers
<div class="row">
  <div class="col-md-4">
    <div class="x_panel tile">
			<div class="x_title">
        <h2>Regions</h2>
        <div class="clearfix"></div>
      </div>
			<div class="x_content half-div">
        <% if @regions.size < 1 %>
          <div>This Organization (<%= @organization.name %>) has no region</div>
        <% else %>
          <% @regions.each do |rg| %>
            <%= link_to region_show_labour_path(rg), remote: true do%>
              <div class="list-item">
                <%= rg.name %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-4"><%= @regions.size if @regions||= 0 %> region</div>
      <div class="col-sm-4"><%= @team ? @team.size : '?' %> teams</div>
      <div class="col-sm-4"><%= @sps.size ||= 0 %> labourers</div>
    </div>
    <div id="labour-show">
      <%= render partial: 'regions/admin/labour_list' %>
    </div>
  </div>
</div>
