<div class="card w500 hcenter">
  New managers for <%= @organization.name %>
  <%= form_for @user, url: organization_create_ap_path, remote: true do |u| %>
  <div class="form-group ">
    <%= u.label :image %>
    <%= u.file_field :image %>
  </div>
  <div class="form-group">
    <%= u.text_field :fname, id:'fname', placeholder: 'first name' %>
  </div>
  <div class="form-group">
    <%= u.text_field :lname, id:'lname', placeholder: 'last name' %>
  </div>
  <div class="form-group">
    <%= u.text_field :email, placeholder: 'email' %>
  </div>
  <div class="form-group">
    <%= u.hidden_field :status, value:'new' %>
    <%= u.hidden_field :password, value:'password' %>
  </div>
  <div class="form-group ferror">
    <div id="nwapp_err"></div>
  </div>
  <div class="form-group">
    <%= u.submit 'Submit' %>
  </div>
  <% end %>
</div>
