<div>
  <div class="row">
    <div class="col-md-6">
      <div class="x_panel tile">
				<div class="x_title">
          <h2>Teams</h2>
          <% if @region %>
            <%= link_to new_organization_team_path(@region.organization, region: @region.id), remote: true do %>
              <i id="add-tac-but" class="fa fa-plus add-but"></i>
            <% end %>
          <% end %>
          <div class="clearfix"></div>
        </div>
				<div id="team-list" class="x_content half-div">
          <% if @region %>
            <% if @teams && (@teams.size > 0) %>
              <% @teams.each do |t| %>
                <%= render partial: 'regions/admin/team_list_item', locals: {t: t} %>
              <% end %>
            <% else %>
              You have no teams in (<%= @region.name %>)
            <% end %>
          <% else %>
            <h2>Select a region to view the teams there</h2>
            <br>
            <i class="fa fa-hand-pointer-o tilt-45 text-huge"></i>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="x_panel tile">
				<div class="x_title">
          <h2>Labourers</h2>
          <% if @region %>
            <%= link_to  new_region_service_provider_path(@region), remote: true do %>
              <i id="add-tac-but" class="fa fa-plus add-but"></i>
            <% end %>
          <% end %>
          <div class="clearfix"></div>
        </div>
				<div id="labourer-list" class="x_content half-div">
          <% if @sps.size < 1 %>
            <div>This Organization has no labourers</div>
          <% else %>
            <% @sps.each do |sp| %>
              <%= render partial: 'regions/admin/sp_list_item', locals: {sp: sp} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
