<div>
  <%= form_for [@farm, @farmer], remote: true do |f|%>
    <div class="form-group">
      <%= f.text_field :fname, size: '80', class:"form-control", placeholder:"first name", required: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :lname, size: '80', class:"form-control", placeholder:"last name", required: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :phone, size: '80', class:"form-control", placeholder:"phone", required: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :gender, size: '80', class:"form-control", placeholder:"gender" %>
    </div>
    <%= f.hidden_field :farm_ids, :multiple => true, value: @farm.id %>
    <%= f.hidden_field :region_id, @farm.region.id %>
    <div id="form-error"></div>
    <div id="err-msg"></div>
    <div class="form-group">
      <%= f.submit 'Submit' , class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
