<div id="tact_cont" class="row">
  <div class="col-md-6">
    <div class="x_panel tile">
      <div id="name">
        Activity:
        <%= @ta.activity.name %>
      </div>
      <hr>
      <div id="description">
        Description: <br>
        <%= @ta.activity.description %>
      </div>
      <hr>
      <div id="comment">
        Comment: <br>
        <%= @ta.comment %>
      </div>
      <hr>
      <div id="time" class="row">
        <div class="col-md-6">
          Start: <br>
          <span class="start">
            <i class="fa fa-calendar-plus-o"></i> <%= @ta.start_date %>
          </span>

        </div>
        <div class="col-md-6">
          End: <br>
          <span class="end">
            <i class="fa fa-calendar-check-o"></i> <%= @ta.end_date %>
          </span>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="portlet hcenter">
      <div class="portlet-heading bg-purple">
        <h3 class="portlet-title">Team Activity Report</h3>
        <div class="clearfix"></div>
      </div>
      <div class="pad15">
        <% if @ta.team_activity_reports && @ta.team_activity_reports.size > 0%>
          <table class="table">
            <thead>
              <tr class="row">
                <% keys = @ta.team_activity_reports.first.report.keys %>
                <td class="col-xs-6"><%= keys[0] %></td>
                <td><%= keys[1] %></td>
                <td>Date</td>
                <td></td>
              </tr>
            </thead>
            <% @ta.team_activity_reports.each do |r|%>
              <tbody>
                <% data = JSON.parse(r.report.to_json) %>
                <tr class="row">
                  <td class="col-xs-6"><%= data.values[0] %></td>
                  <td><%= data.values[1] %></td>
                  <td><%= r.created_at %></td>
                  <td>
                    <%= link_to r, remote:true do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
          </table>
        <% else %>
          <div class="text-center">
            No reports found... <br>
            <%= image_tag 'reporting.png' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
