<div id="tact_cont" class="row">
  <div class="col-md-6 x_panel tile">
    <div id="name">
      Activity: <br>
      <%= @ta.activity.name %>
    </div>
    <hr>
    <div id="description">
      Description: <br>
      <%= @ta.activity.description %>
    </div>
    <hr>
    <div id="comment">
      Comment: <br>
      <%= @ta.comment %>
    </div>
    <hr>
    <div id="time" class="row">
      <div class="start col-md-6"><%= @ta.start_date %></div>
      <div class="end col-md-6"><%= @ta.end_date %></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="portlet hcenter">
      <div class="portlet-heading bg-purple">
        <h3 class="portlet-title">Team Activity Report</h3>
        <div class="clearfix"></div>
      </div>
      <div class="pad15">
        <% if @ta.team_activity_reports && @ta.team_activity_reports.size > 0%>
          <table>
            <thead>
              <tr>
                <% keys = @ta.team_activity_reports[0].keys %>
                <td><%= keys[0] %></td>
                <td><%= keys[1] %></td>
                <td>Date</td>
              </tr>
            </thead>
            <% @ta.team_activity_reports.each do |r|%>
              <tbody>
                <% data = JSON.parse(r.report.to_json) %>
                <tr>
                  <td><%= data[0].key %></td>
                  <td><%= data[1].key %></td>
                  <td><%= r.created_at %></td>
                  <%= link_to r, remote:true do %>
                    <i class="fa fa-eye"></i>
                    <% end %>
                </tr>
              </tbody>
          </table>
        <% else %>
          <div class="text-center">
            No reports found... <br>
            <%= image_tag 'reporting.png' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
