<!-- top tiles -->
<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Managers</span>
    <div class="count"><%= @managers_num %></div>
    <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span> -->
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> Total Activities</span>
    <div class="count"><%= @tact_num %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-truck"></i> Total Farms</span>
    <div class="count green"><%= @farms.size %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Acreage</span>
    <div class="count"><%= @total_acreage %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-map-marker"></i> Total Regions</span>
    <div class="count"><%= @regions.size %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-users"></i> Total Labourers</span>
    <div class="count"><%= @labours_num %></div>
  </div>
</div>
<!-- /top tiles -->
