<%= render 'top_stats' %>
<hr>
<p id="notice"><%= notice %></p>
<div class="row full-height">
  <div class="col-sm-3 full-height bd-right">
    <div id="rg_list">
      <div class="x_panel tile">
				<div class="x_title">
          <h2>Regions</h2>
          <div class="clearfix"></div>
        </div>
				<div class="x_content half-div">
          <% if @regions.size > 0 %>
            <% @regions.each do |r| %>
              <%= link_to r, remote: true do %>
                <div class="list-item"><%= r.name %></div>
              <% end %>
            <% end %>
          <% else %>
            <h3>No region exist in this organization</h3>
            <h4>you can add one by pressing "Add region"</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="desc_text">
      A region is your company's perception of a cluster. Wherever you think a group of farms fall under or are located in.
    </div>
    <br>
    <%= link_to 'Add region', new_organization_region_path(@organization), class:'btn btn-primary', remote: true %>
  </div>
  <div class="col-sm-9">
    <div id="map" class="h300 neg_marg15">
    </div>
    <div id="ext-holder">
      <h3>Please select a region to view the farms under it</h3>
    </div>
  </div>
</div>
<script>
var map;
var infowindow;
var markers = [];
function initMap() {
  if (Boolean($("#map"))){
    infowindow = new google.maps.InfoWindow();
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 5.5557, lng: -0.1963},
      zoom: 8
    });

    <% @regions.each do |r| %>
    createMarker("<%= r.name %>", <%= r.lat %>, <%= r.lon %>, <%= r.radius %>);
    <% end %>
  }
}

function createMarker(name, lat, lon, rad) {
  var point = new google.maps.LatLng(lat, lon);
  var marker = new google.maps.Marker({
    map: map,
    position: point
  });
  var content = '<strong>' + name + '</strong><br>' + lat +", "+ lon + '<br>';
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(content);
    infowindow.open(map, marker);
  });
  radius = new google.maps.Circle({map: map,
    radius: rad,
    center: new google.maps.LatLng(lat, lon),
    fillColor: '#777',
    fillOpacity: 0.1,
    strokeColor: '#0000AA',
    strokeOpacity: 0.8,
    strokeWeight: 2
  });
  markers[lat+lon] = marker;
}

function updateMarker(lat, lon){
  var point = new google.maps.LatLng(lat, lon);
  map.setCenter(point);
  map.setZoom(15);
  google.maps.event.trigger(markers[lat+lon], 'click');
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2NxLOf_zTbaq0pyoeRLfBFTX4Q55KWuo&q=ghana&libraries=places&callback=initMap" async defer></script>
