<%= form_for [@organization, @activity], html: { multipart: true }  do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <div class="x_panel tile">
        <div class="x_title">
          <h2>Activity details</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group ">
        <%= image_tag @activity.image.url(:thumb), id:"uploadPreview", style:"height: 100px;" %>
        <br>
        <%= f.label :image, accept:"image/*" %>
        <%= f.file_field :image, id:"uploadImage", onchange:"previewImage()" %>
      </div>
      <div class="x_panel tile">
        <div class="x_title">
          <h2>Activity form</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="field">
            <%= f.fields_for :fields do |builder| %>
              <%= render "field_fields", f: builder %>
              <br>
            <% end %>
          </div>
          <div class="field">
            <%= link_to_add_fields "Add Field", f, :fields %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  function previewImage() {
    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

    oFReader.onload = function (oFREvent) {
        document.getElementById("uploadPreview").src = oFREvent.target.result;
    };
  };
</script>
