<div class="row">
  <% @activities.each do |activity| %>
    <div class="col-xs-3">
      <div class="x_panel tile">
        <div class="x_title">
          <%= link_to [@organization, activity] do %>
            <h2><%= activity.name %></h2>
          <% end %>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <%= link_to edit_organization_activity_path(@organization, activity) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </li>
            <li>
              <%= link_to [@organization, activity], method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-close"></i>
              <% end %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= activity.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Activity', new_organization_activity_path(@organization) %>
