<div class="row">
  <% @activities.each do |activity| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="x_panel tile h200">
        <div class="x_title">
          <div class="ttitle" style="margin-right:50px;">
            <%= link_to [@organization, activity] do %>
              <%= activity.name %>
            <% end %>
          </div>
          <ul class="nav navbar-right panel_toolbox tile-menu">
            <li>
              <%= link_to edit_organization_activity_path(@organization, activity) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </li>
            <li>
              <%= link_to [@organization, activity], method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-close"></i>
              <% end %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content row">
          <div class="col-sm-6">
            <%= image_tag activity.image.url(:thumb), style:"height: 100px" %>
          </div>
          <div class="col-sm-6">
            <%= activity.description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Activity', new_organization_activity_path(@organization) %>
