<div id="myRGnew" class="center-float">
  <div class="card">
    <div id="new_rg_map" class="h500"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div>
      <%= form_for [@region.organization, @region], remote: true do |t|%>
      <%= t.hidden_field :country_id, value: @region.organization.country_id %>
        <div class="form-group">
          <%= t.text_field :name, size: '80', class:"form-control", placeholder:"Region name" %>
        </div>
        <div class="form-group">
          <%= t.text_field :lat, id:"new_reg_lat", size: '80', placeholder:"Lat", readonly: true %> |
          <%= t.text_field :lon, id:"new_reg_lon", size: '80', placeholder:"Lon", readonly: true %>
        </div>
        <div id="err-msg"></div>
        <div class="form-group">
          <%= t.submit 'Submit' , class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'regions/maps/map2' %>
