<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#63b145">
  <title>Ghalani</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=El+Messiri|Lato:300" rel="stylesheet">
  <%= render partial: 'layouts/favicon' %>
  <%= render "layouts/analytics" %>
</head>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key}") do %>
        <p><%= value %></p>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render "layouts/modal" %>
  </body>
</html>

